<template>
  <LeftSideComp type="contact" />
</template>
<script>
import LeftSideComp from '@/components/LeftSideComponent.vue'

export default {
  name: 'contact',
  components: {
    LeftSideComp
  }
}
</script>
