<template>
  <LeftSideComp type="homepage" :home="details" />
</template>

<script>
import LeftSideComp from '@/components/LeftSideComponent.vue'

export default {
  name: 'home',
  components: {
    LeftSideComp
  },
  data: () => {
    return {
      details: {
        title: "Hi, I'm Chi Joshua",
        position: 'Software Developer',
        about: `I'm a Software and Web Developer at Integrify. I'm a Full Stack Developer with experience in Web and Mobile App development. 'I have over 2 year professional experience as a Software Developer developing mainly for desktop.         
        This is my first attempt at building an application with Vue JS. Lately I have been focusing on Back-end web development and learning all the cool stuffs on Backend frameworks, architecture and concepts. Most of my latest projects are built on React JS/ Gatsby and Node. Like my Vue CV? Feel free to use it for your portfolio.`,
        socials: [
          { icon: 'github', link: 'https://github.com/chijosh' },
          {
            icon: 'linkedin',
            link: 'https://www.linkedin.com/in/joshua-onyenwere/'
          },
          { icon: 'twitter', link: 'https://twitter.com/IamChiJosh' }
        ]
      }
    }
  }
}
</script>
