<template>
  <LeftSideComp type="projects" :projects="cardItems" />
</template>
<script>
import LeftSideComp from '@/components/LeftSideComponent'

export default {
  name: 'contact',
  components: {
    LeftSideComp
  },
  data: () => {
    return {
      cardItems: [
        {
          title: 'Nature Tours Holiday Website',
          image: 'https://cdn.vuetifyjs.com/images/cards/docks.jpg',
          subtitle: 'CV/Portfolio',
          explore: 'https://natures-tours.herokuapp.com/',
          text:
            'A RESTful API backend service for an e-commerce store for holiday nature tours.',
          menu: ['about', 'About me']
        },
        {
          title: 'e-Design-v1',
          image: 'https://cdn.vuetifyjs.com/images/cards/sunshine.jpg',
          subtitle: 'E-commerce Store',
          explore: 'https://chijosh.github.io/nordic-host/index.html',
          text:
            'A single page, ecommerce application that allows users to create and manage account, add products to carte and purchase product from the store.',
          menu: ['about', 'About me']
        }
      ]
    }
  }
}
</script>
