<template>
  <v-container>
    <div v-bind:key="cardItems.id" v-for="cardItems in projects" class="mb-2">
      <v-card class="mx-auto" max-width="344">
        <v-img :src="cardItems.image" height="200px"></v-img>
        <v-card-title>{{cardItems.title}}</v-card-title>

        <v-card-subtitle>{{cardItems.subtitle}}</v-card-subtitle>

        <v-card-actions>
          <v-btn text>Share</v-btn>

          <a target="no_blank" ref="no-referrer" :href="cardItems.explore">
            <v-btn color="purple" text>Explore</v-btn>
          </a>

          <v-spacer></v-spacer>

          <v-btn icon @click="show = !show">
            <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
          </v-btn>
        </v-card-actions>

        <v-expand-transition>
          <div v-show="show">
            <v-divider></v-divider>

            <v-card-text>{{cardItems.text}}</v-card-text>
          </div>
        </v-expand-transition>
      </v-card>
    </div>
  </v-container>
</template>

<script>
export default {
  name: 'Card',
  props: ['projects'],
  data: () => ({
    show: false
  })
}
</script>
