<template>
  <footer class="main--footer">
    <div>Copyright &copy; {{getCurrentYear()}} by Chi Joshua</div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  methods: {
    getCurrentYear: () => {
      return new Date().getFullYear()
    }
  }
}
</script>
<style>
</style>
