<template>
  <v-col offset-md="1" class="col-6 col-md-4 sm-6">
    <!-- For Home page -->
    <main v-if="type === 'homepage'">
      <h1 class="display-2 text-capitalize mt-5">{{home.title}}</h1>
      <p class="text-capitalize">{{home.position}}</p>
      <v-spacer></v-spacer>
      <p class="body-1">{{home.about}}</p>

      <v-btn class="ma-4 pa-1" color="pink" v-bind:key="tech.id" v-for="tech in home.socials" link>
        <a :style="{'color': 'white'}" target="no_blank" ref="no-referrer" :href="tech.link">
          <v-icon>fab fa-{{tech.icon}}</v-icon>
        </a>
      </v-btn>
    </main>

    <!-- For Contact page -->
    <main v-else-if="type === 'contact'">
      <v-card width="400" class="mx-auto mt-5" color="#effcef">
        <v-card-title>
          <h1 class="display-1">Contact</h1>
        </v-card-title>
        <v-card-text>
          <v-form>
            <v-text-field prepend-icon="account_box" label="Full Name" />
            <v-text-field prepend-icon="email" label="Email" />
            <v-textarea label="Message" />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn class="pink white--text">
            <span>Email me</span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </main>
    <!-- For Project page -->
    <main v-else-if="type === 'projects'">
      <Card :projects="projects" />
    </main>

    <!-- For Resume page -->
    <main v-else></main>
  </v-col>
</template>

<script>
import Card from '@/components/Card'

export default {
  components: {
    Card
  },
  name: 'LeftSideComponent',
  props: ['type', 'home', 'projects']
}
</script>
