<template>
  <section>
    <main>
      <h1 class="title">Hi, I'm Chi Joshua</h1>
      <div class="mb-5">
        <p class="lead subtitle">Software Developer</p>
        <p>{{about1}}</p>
        <p>{{about2}}</p>
      </div>
      <p>
        <a href="https://github.com/chijosh" class="mr-2">Github</a>
        <a href="https://www.linkedin.com/in/joshua-onyenwere/" class="mr-2">LinkedIn</a>
        <a href="https://twitter.com/IamChiJosh" class="mr-2">Twitter</a>
      </p>
    </main>
  </section>
</template>

<script>
export default {
  name: 'image',
  // eslint-disable-next-line space-before-function-paren
  data() {
    return {
      about1:
        "I'm a Software and Web Developer at Integrify. I'm a Full Stack Developer with experience in Web and Mobile App development. 'I have over 2 year professional experience as a Software Developer developing mainly for desktop.",
      about2:
        'This is my first attempt at building an application with Vue JS. Lately I have been focusing on Back-end web development and learning all the cool stuffs on Backend frameworks, architecture and concepts. Most of my latest projects are built on React JS/ Gatsby and Node. Like my Vue CV? Feel free to use it for your portfolio.'
    }
  }
}
</script>
<style>
main {
  float: left;
  padding: 7%;
  position: relative;
}

@media (min-width: 576px) {
  main,
  aside {
    width: 50%;
  }
}

@media (min-width: 576px) {
  aside {
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
  }
}

aside {
  background-position: center center;
  background-size: cover;
}
</style>
