<template>
  <!-- Navigation area start -->
  <nav>
    <v-app-bar flat color="#086754" class="white--text">
      <v-toolbar-title class="text-uppercase">
        <span class="font-weight-light">Chi</span>
        <span class="font-weight-bold">Joshua</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <router-link v-bind:key="link.id" v-for="link in menuItems" :to="link.path">
        <v-btn dark text>
          <span class="white--text" v-text="link.text" style="font-weight:400" />
        </v-btn>
      </router-link>
    </v-app-bar>
  </nav>
</template>

<script>
export default {
  data: () => {
    return {
      right: '',
      menuItems: [
        { path: '/', text: 'Home' },
        { path: '/resume', text: 'Resume' },
        { path: '/projects', text: 'Project' },
        { path: '/contact', text: 'Contact' }
      ]
    }
  }
}
</script>
