<template>
  <v-col offset-md="1" class="col-6 col-md-6 sm-6">
    <v-img src="../assets/image/profile_big.jpg" alt="{authorName}" height="85vh"></v-img>
  </v-col>
</template>

<script>
export default {
  name: 'RightImage',
  components: {},
  data: () => ({
    return: {
      backgroundUrl: '../assets/image/profile_big.jpg',
      authorName: 'Joshua'
    }
  })
}
</script>
