<template>
  <v-app class="grey lighten-4">
    <Navbar />
    <v-content>
      <v-container>
        <v-row justify="center">
          <router-view></router-view>
          <RightImage />
        </v-row>
      </v-container>
    </v-content>
    <Footer />
  </v-app>
</template>

<script>
import '@/assets/shared.css'
import Navbar from '@/components/Navbar'
import RightImage from '@/components/RightImage'
import Footer from '@/components/Footer'

export default {
  name: 'App',
  components: {
    Navbar,
    RightImage,
    Footer
  }
}
</script>

<style>
a {
  text-decoration: none;
}
</style>
